.chat-MainWrapper {
  display: flex;
  height: 100vh;
}
.chatMenu {
  flex: 2.5;
}
.chatMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh -50px);
  background-color: rgb(235, 232, 232);
}
.chatMenuBottom-ProfileImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.chatMenuBottom {
  margin-bottom: 10px;
  border: 1px solid black;
}
.chatBoxWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 30px);
}
.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}
.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
}
.chatBox {
  flex: 6;
}
.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}
.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}
.chatOnline {
  flex: 2;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
}
.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(197, 194, 194);
  cursor: default;
}
