a {
  color: #03aaeb;
  text-decoration: none;
  padding: 0.5rem;
}
.signin-maincontainer {
  height: 100vh;
  width: 100%;
  background: url("../../../View/assets/images/openDiscord-background.jpg")
    center center/100% 100% no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-floatingmiddlebox {
  background-color: #36393f;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 45%;
}
.signin-upper-section {
  padding-top: 1rem;
  text-align: center;
  color: white;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.signin-welcomeback-message {
  font-size: 3rem;
}
.signin-seeyouagain-message {
  color: #a5a7ab;
}
.signin-emailsection,
.signin-passwordsection {
  color: #b9bbbe;
  font-size: 1.2rem;
}
.signin-emailinput,
.signin-passwordinput {
  width: 60%;
  height: 2.2rem;
  background-color: #303339;
  color: white;
  border: black solid 1px;
}
.signin-loginButton {
  width: 90%;
  height: 3rem;
  background-color: #5865f2;
  border: transparent solid 1px;
  border-radius: 0.5rem;
}
.signin-buttonholder {
  display: flex;
  justify-content: center;
  align-items: center;
}
